* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */ 

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 0.1rem solid var(--ligh-grey-color);
    text-align: left;
    padding: 0.5rem;
    white-space: nowrap;
}

table caption {
    font-style: italic;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

tfoot {
    font-style: italic;
    font-size: 1.8rem;
}

tfoot td, table th {
    background-color: var(--ligh-grey-color);
}